# --- Python & Environment ---
**/__pycache__/
*.pyc
*.pyo
*.pyd
.env
env/
venv/
.venv/

# --- Data Management (Klasör Yapısını Koru, Veriyi Engelle) ---
# 01_raw_data içindeki her şeyi yoksay ama .gitkeep kalsın
01_data/01_raw_data/*
!01_data/01_raw_data/.gitkeep

# 02_processed_data içindeki her şeyi yoksay ama .gitkeep kalsın
01_data/02_processed_data/*
!01_data/02_processed_data/.gitkeep

# Genel CSV ve veri koruması (Ekstra güvenlik)
*.csv
*.xlsx
*.data
*.parquet

# --- Notebooks & IDE ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.vscode/
.idea/
.DS_Store

# --- Streamlit ---
.streamlit/config.toml